.home {
  box-sizing: border-box;
  background-color: var(--background);
  min-height: 100vh;
  height: 100%;
}

.result_container {
  box-sizing: border-box;
  border: 2px solid var(--primary);
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 1rem;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
